body {
  font-family: "Garamond", serif;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

button {
  color: #666;
  background-color: #ffbdc7;
  border: none;
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 600;
  padding: 15px 32px;
  width: calc(100% - 40px); /* Adjust button width */
  margin: 0 20px 20px; /* Adjust margins to remove space */
  border-radius: 10px; /* Rounded corners for button */
  cursor: pointer;
  display: block; /* Ensure button is block level */
}

button:hover {
  background-color: #cc919a;
  transition: 0.5s;
}

button:focus {
  outline: 0;
}

/* Navbar Classes */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.nav-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  margin-left: 2vw;
}

.nav-left,
.nav-right {
  display: flex;
  align-items: center;
}

.nav-left {
  margin-right: 20px;
}

.nav-right {
  margin-left: 20px;
}

.nav-item {
  color: white;
  text-decoration: none;
  padding: 10px;
  margin: 0 10px;
  transition: color 0.3s ease;
  font-weight: bold;
  font-size: large;
}

.nav-item:hover {
  color: orange;
}

.nav-item.active {
  color: orange;
}

.navbar-header {
  font-size: 24px; /* Adjust font size as needed */
  margin: 0 20px;
  text-align: center;
  color: orange;
}

.nav-rsvp-button {
  margin-left: auto;
  margin-right: 1vw;
  margin-top: 1vh;
}

.rsvp-button {
  background-color: orange;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.rsvp-button:hover {
  background-color: darkorange;
}

/* End of navbar classes */

.section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 70%;
  height: 80%;
  margin: 10% auto;
  padding: 20px;
  box-sizing: border-box;
  background-color: #fff; /* Optional: to make the container visible */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: to add a subtle shadow */
}

#about-chicago {
  background-color: #f4f4f4;
}

#itinerary-chicago {
  background-color: #ddd;
}

#about-mexico {
  background-color: #c4c4c4;
}

#itinerary-mexico {
  background-color: #bbb;
}

.primary {
  color: #3e0a92;
}

.bg-primary {
  background-color: #3e0a92;
}

/* RSVP Modal */

.modal {
  display: none;
  position: fixed;
  z-index: 1001;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: transparent;
  margin: 10% auto;
  width: 80%;
  max-width: 500px;
  position: relative;
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.top {
  background-color: #264356;
  height: 200px;
  margin: 0;
  padding: 0;
  box-shadow: 2px 2px 4px rgb(0, 0, 0, 0.25);
}

.form {
  height: 80vh;
  width: 400px;
  background-color: #fff;
  margin: -110px auto;
  border-radius: 10px;
  color: #666;
  padding: 0px 0px;
  box-shadow: 2px 2px 4px rgb(0, 0, 0, 0.25);
}

.info {
  padding: 10px;
}

.form h1,
.form h2,
.form h4,
.form p {
  text-align: center;
  padding: 0px;
  margin: 5px 5px;
}

.form h2 {
  font-family: "Great Vibes", cursive;
  font-weight: 100;
}

p.line {
  margin: 0px auto 20px auto;
  color: #999;
}

.form input {
  font-size: 15px;
  color: #666;
  padding: 6px;
  margin: 25px auto 20px;
  display: block;
  width: 75%;
}

.radio-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.radio-group label {
  margin: 0 10px;
  font-size: 16px;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
}

.radio-group input[type="radio"] {
  margin-right: 5px;
}

input:focus {
  outline: 0;
}

.submit-rsvp-box {
  margin-bottom: 3vh;
}

/* End of RSVP box */
