// app global css in SCSS form
.main-section {
  display: flex;
  flex-direction: row;
}

.section {
  box-shadow: 0 0 4px 2px $accent;
  background-color: $primary;
}

.sidebar-section {
  margin-top: 2vh;
  width: 20vw;
  margin-right: 1vw;
  height: 90vh;
  background: linear-gradient(
    107deg,
    rgb(13, 198, 180) 8.1%,
    rgb(33, 198, 138) 79.5%
  ) !important;
}

.sidebar-tab-active {
  background-color: $bg-active;
}

.main-content-section {
  margin-top: 2vh;
  width: 78vw;
  height: 90vh;
}

.sub-section {
  box-shadow: 0 0 0px 01px $accent;
  background-color: $secondary;
}

.dialog-card-layout {
  display: flex;
  flex-direction: column;
}

.card-actions-container {
  margin-top: auto;
}

.date-picker-container {
  margin-top: 1vh;
}

.form-input-container {
  margin-top: 1vh;
}

.date-picker-range {
  background-color: $secondary;
  color: white;
}

.date-picker-range .q-date__days--selected .q-date__day--in,
.date-picker-range .q-date__day--selected .q-date__day__content,
.date-picker-range .q-btn--active,
.date-picker-range .q-date__day--selected,
.date-picker-range .q-date__day--in:hover,
.date-picker-range .q-date__edit-range {
  background-color: $primary !important;
}

.date-picker-range .q-btn {
  color: white !important;
}

.date-picker-range .q-date__edit-range-from {
  background-color: $primary;
}

.date-picker-range .q-date__edit-range-from .q-btn {
  background-color: $secondary;
}

.date-picker-input {
  background-color: $secondary;
  color: white;
}

.update-boolean-button {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.update-boolean-header {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.header-row {
  display: flex;
  height: 8vh;
}

// Loading Page
.loading-text {
  opacity: 85%;
  color: tertiary;
}

// Events Page Specific CSS classes

.events-main-content-row {
  display: flex;
  height: 78vh;
  justify-content: center;
}

.event-boxes-container {
  display: flex;
  flex-direction: row;
  height: 20vh;
}

.event-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 15vw;
  height: 100%;
  background-color: $secondary;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: transform 0.3s;
  margin-left: 1vw;
}

.event-box:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.big-number {
  font-size: 24px;
  font-weight: bold;
  margin-top: 8px;
}

.caption {
  font-size: 16px;
  color: #777;
  margin-top: 4px;
}

.events-table-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.events-table {
  height: 50vh;
  width: 70vw;
  background-color: $secondary;
}

// Finances Specific Classes
.finances-main-content-row {
  display: flex;
  height: 78vh;
  width: 100%;
}

.finances-boxes-container {
  display: flex;
  flex-direction: row;
  height: 20vh;
}

.finances-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 15vw;
  height: 100%;
  background-color: $secondary;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: transform 0.3s;
  margin-left: 1vw;
}

.finances-box:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.big-number {
  font-size: 24px;
  font-weight: bold;
  margin-top: 8px;
}

.caption {
  font-size: 16px;
  color: #777;
  margin-top: 4px;
}

.finances-table-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.finances-table {
  height: 50vh;
  width: 70vw;
  background-color: $secondary;
}

.finances-overview-top-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 0.5vh;
}

.finances-overview-properties-container {
  height: 40vh;
  width: 39vw;
  background-color: $secondary;
  margin-right: 0.5vw;
}

.finances-overview-equities-container {
  height: 40vh;
  width: 36vw;
  background-color: $secondary;
}

.finances-overview-bottom-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 0.5vh;
}

.finances-overview-bottom-container-one {
  height: 38vh;
  width: 24.5vw;
  background-color: $secondary;
  margin-right: 0.5vw;
}

.finances-overview-bottom-container-two {
  height: 38vh;
  width: 25vw;
  background-color: $secondary;
  margin-right: 0.5vw;
}

.finances-overview-bottom-container-three {
  height: 38vh;
  width: 25vw;
  background-color: $secondary;
}

// Cookbook Section
.cookbook-page-container-no-recipes {
  margin-top: 1vh;
  width: 100%;
  height: 78vh;
  align-items: center;
  justify-content: center;
}

// SCROLL BARS
/* Style for the entire scrollbar */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

/* Style for the scrollbar track */
::-webkit-scrollbar-track {
  background: #968d8d; /* Customize this color */
  border-radius: 10px;
}

/* Style for the scrollbar thumb */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

/* Style for the scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #252525; /* Customize this color */
}
